<div class="navbar">
  <div class="navbar_brand">
    <span class="brand_container">
      <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="StudyVibes" class="brand_logo">
    </span>
  </div>

  <div class="navbar_actions">
    {% if current_user.is_authenticated %}
      <span class="navbar_user">{{ current_user.first_name or current_user.email }}   </span>
      <a href="{{ url_for('logout') }}" class="logout-button">Log out</a>
    {% else %}
      <a href="{{ url_for('login') }}" class="logout-button">Log in</a>
    {% endif %}
  </div>
</div>
